@import "apps/keep/note-list.css";
@import "apps/keep/note-preview.css";
@import "header.css";
@import "basic/fronts.css";
@import "basic/helpers.css";
/* email preview class */
.light {
    text-decoration: none;
    font-weight: lighter;
}

.bold {
    color: red;
}

* {
    box-sizing: border-box;
}
body{
    margin: 0;

}