.emails-details {
    border: 1px solid var(--clr2);
    border-radius: 15px;
    padding: 10px;
    margin: 18px;
}
.emails-details a{
    text-decoration: none;
    color: black;
}

.mail-info span{}