
.background-Color-container div{
    height: 100px;
    width: 100px;
}
.background-img-container div{
    height: 100px;
    width: 100px;
}

/* bg color container */
.clr1{
    background-color: lightblue;
}
#upload-photo {
    display: none;
}